/.idea
/out
/cmake-build-debug
/commandes_compil.txt
gui/CMakeCache.txt
gui/CMakeFiles/
gui/Makefile
gui/TIPE
gui/cmake_install.cmake
journal_de_bord/formules.aux
journal_de_bord/formules.log
journal_de_bord/ed.hup
journal_de_bord/chordless_cycle
/graph/graph
